# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "npm"
    directory: "/"
    target-branch: dev
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    assignees:
      - jaybuidl
      - alcercu
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: dev
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    assignees:
      - jaybuidl
      - alcercu
  - package-ecosystem: "docker"
    directory: "/bots"
    target-branch: dev
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    assignees:
      - jaybuidl
      - alcercu


  - package-ecosystem: docker
    directory: /bot-pinner
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /bot-pinner
    schedule:
      interval: daily

  - package-ecosystem: pip
    directory: /bot-pinner
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /contracts
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /subgraph
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /web
    schedule:
      interval: daily
