{
    "title": "A reality.eth question",
    "description": "A reality.eth question has been raised to arbitration.",
    "question": "{{ question }}",
    "type": "{{ type }}",
    "answers": [
        {{# answers }}
        {
            "title": "{{ title }}",
            "description": "{{ description }}",
            "id": "{{ id }}",
            "reserved": {{ reserved }}
        }{{^ last }},{{/ last }}
        {{/ answers }}
        
    ],
    "policyURI": "/ipfs/QmZ5XaV2RVgBADq5qMpbuEwgCuPZdRgCeu8rhGtJWLV6yz",
    "frontendUrl": "https://reality.eth.limo/app/#!/question/{{ realityAddress }}-{{ questionId }}",
    "arbitrableChainID": "100",
    "arbitrableAddress": "0x2e39b8f43d0870ba896f516f78f57cde773cf805",
    "arbitratorChainID": "421613",
    "arbitratorAddress": "0xD08Ab99480d02bf9C092828043f611BcDFEA917b",
    "category": "Oracle",
    "lang": "en_US",
    "specification": "KIP99",
    "version": "1.0"
}