# Bot account
PRIVATE_KEY=0x000000.....00000

# Bot subgraph
SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/<TESTNET-SUBGRAPH-URL>

# Logging
LOG_LEVEL=debug
LOGTAIL_TOKEN_KEEPER_BOT=<optional token>
LOGTAIL_TOKEN_RELAYER_BOT=<optional token>

# Heartbeat
HEARTBEAT_URL_KEEPER_BOT=<optional url>
HEARTBEAT_URL_RELAYER_BOT=<optional url>

DISPUTES_TO_SKIP=