# subgraphs for the archived core contract
export CORE_SUBGRAPH_URL=""
export DTR_SUBGRAPH_URL=""

export IPFS_UPLOAD_URL=""

# required by data mappings
export GRAPH_API_KEY=""

# address of dispute archive contract
export DISPUTE_ARCHIVE_ADDRESS=""

export ALCHEMY_API_KEY=""
export PRIVATE_KEY=""