[
    {
        "type": "graphql",
        "endpoint": "https://api.thegraph.com/subgraphs/name/kemuru/escrow-v2-devnet",
        "query": "query GetTransaction($transactionId: ID!) { escrow(id: $transactionId) { transactionUri buyer seller amount asset deadline } }",
        "variables": {
            "transactionId": "{{externalDisputeID}}"
        },
        "seek": [
            "escrow.transactionUri",
            "escrow.buyer",
            "escrow.seller",
            "escrow.amount",
            "escrow.asset",
            "escrow.deadline"
        ],
        "populate": [
            "transactionUri",
            "address",
            "sendingRecipientAddress",
            "amount",
            "asset",
            "deadline"
        ]
    },
    {
        "type": "fetch/ipfs/json",
        "ipfsUri": "{{transactionUri}}",
        "seek": [
            "title",
            "description",
            "extraDescriptionUri"
        ],
        "populate": [
            "escrowTitle",
            "deliverableText",
            "extraDescriptionUri"
        ]
    }
]