{
    "title": "{{escrowTitle}}",
    "description": "{{deliverableText}}",
    "question": "Which party abided by the terms of the contract?",
    "answers": [
        {
            "title": "Refund the Buyer",
            "description": "Select this to return the funds to the Buyer."
        },
        {
            "title": "Pay the Seller",
            "description": "Select this to release the funds to the Seller."
        }
    ],
    "policyURI": "ipfs://TODO",
    "attachment": {
        "label": "Transaction Terms",
        "uri": "{{extraDescriptionUri}}"
    },
    "frontendUrl": "https://escrow-v2.kleros.builders/#/myTransactions/{{externalDisputeID}}",
    "arbitrableChainID": "421614",
    "arbitrableAddress": "{{arbitrator}}",
    "arbitratorChainID": "421614",
    "arbitratorAddress": "{{arbitrable}}",
    "metadata": {
        "buyer": "{{address}}",
        "seller": "{{sendingRecipientAddress}}",
        "amount": "{{sendingQuantity}}",
        "asset": "{{asset}}",
        "deadline": "{{deadline}}",
        "transactionUri": "{{transactionUri}}"
    },
    "category": "Escrow",
    "specification": "KIPXXX",
    "aliases": {
        "Buyer": "{{address}}",
        "Seller": "{{sendingRecipientAddress}}"
    },
    "version": "1.0"
}