name: Contracts Testing

on:
  workflow_dispatch:
  merge_group:
  push:
    branches:
      - master
      - dev
    paths-ignore:
      - "kleros-sdk/**"
      - "services/**"
      - "subgraph/**"
      - "web/**"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "kleros-sdk/**"
      - "services/**"
      - "subgraph/**"
      - "web/**"
      
permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  contracts-testing:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.0
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          binaries.soliditylang.org:443
          classic.yarnpkg.com:443
          github.com:443
          nightly.yarnpkg.com:443
          nodejs.org:443
          objects.githubusercontent.com:443
          registry.yarnpkg.com:443
          registry.npmjs.org:443
          54.185.253.63:443

    - name: Setup Node.js environment
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
      with:
        node-version: 16.x   
        
    - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
    
    - name: Cache node modules
      uses: actions/cache@f7ebb81a3f195b4fb88dab7c14e2f7aff52045aa
      env:
        cache-name: cache-node-modules
      with:
        path: | 
          ~/.npm
          **/node_modules
        key: ${{ runner.os }}-build-${{ secrets.CACHE_VERSION }}-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json', '**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ secrets.CACHE_VERSION }}-${{ env.cache-name }}-
          
    #- name: Install parent dependencies
    #  run: |
    #    echo "current dir: $PWD"
    #    yarn install
             
    - name: Install contracts dependencies
      run: |
        yarn workspace @kleros/kleros-v2-contracts install
      
    - name: Compile
      run: |
        yarn hardhat compile
      working-directory: contracts
      
    - name: Test with coverage
      run: |         
        yarn hardhat coverage --solcoverjs ./.solcover.js --temp artifacts --testfiles \"./test/**/*.ts\" --show-stack-traces
      working-directory: contracts

    - name: Upload a build artifact
      uses: actions/upload-artifact@65d862660abb392b8c4a3d1195a2108db131dd05
      with:    
        name: code-coverage-report    
        path: contracts/coverage
