name: Deploy the Subgraph

on:
  workflow_dispatch:
    inputs:
      network:
        description: The network to deploy the subgraph to
        required: true
        default: 'arbitrum-goerli'
        type: choice
        options:
          - arbitrum-goerli
          - arbitrum
      update:
        description: Whether to update the subgraph with the current artifacts for the selected network.
        required: true
        default: true
        type: boolean

permissions:
  contents: read

jobs:
  buildAndDeploy:
    runs-on: ubuntu-latest
    environment: kleros-org-subgraph
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cba0d00b1fc9a034e1e642ea0f1103c282990604 # v2.5.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Set up Node.js
        uses: actions/setup-node@7c12f8017d5436eb855f1ed4399f037a36fbd9e8 # v2.5.2
        with:
          node-version: 16

      - name: Install Yarn if running locally
        if: ${{ env.ACT }}
        run: npm install -g yarn

      - name: Install the dependencies
        run: yarn install

      - name: Install jq and yq
        if: ${{ inputs.update }}  
        run: |
          mkdir bin
          wget -qO bin/jq https://github.com/jqlang/jq/releases/download/jq-1.6/jq-linux64
          wget -qO bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          chmod a+x bin/jq bin/yq 

      - name: Update the subgraph definition
        if: ${{ inputs.update }}
        run: |
          export PATH=$PWD/../bin:$PATH
          yarn update:${{ inputs.network }}
        working-directory: subgraph

      - name: Build the subgraph
        run: |
          yarn codegen
          yarn build
        working-directory: subgraph
        
      - name: Authenticate with TheGraph
        run: yarn graph auth "${{ secrets.SUBGRAPH_AUTH_TOKEN }}" --product hosted-service
        working-directory: subgraph

      - name: Deploy the subgraph
        run: yarn deploy:${{ inputs.network }}
        working-directory: subgraph
