name: Sentry Release

on:
  workflow_dispatch:
  push:
    branches:
      - master
      
permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    environment: Master
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
    
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16

    - name: Install dependencies
      run: yarn workspace @kleros/kleros-v2-web install

    - name: Build and deploy subgraph
      run: yarn @kleros/kleros-v2-web build

    - name: Set version
      id: set-version
      run: echo "version=v$(cat package.json | jq -r .version)-$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
      working-directory: web

    - name: Create Sentry release
      uses: getsentry/action-release@v1.2.1
      env:
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
        SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
      with:
        environment: production
        version: ${{ steps.set-version.outputs.version }}
        sourcemaps: ./web/dist

